*{
    margin:0;
    padding:0;
    font-family:"Roboto", sans-serif;
  }

  body{
    background: lightcoral;
    background-repeat:no-repeat;
    backgrounD-size:cover;
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    }

    .div1{
      position: relative;
      width: 100%;
      max-width: 1000px;
      min-height: 1000px;
      background: cyan;
      margin: 50px;
      display: grid;
      grid-template-columns: 1fr 2fr;
      box-shadow: 0 35px 55px rbga(0,0,0,1);
    }

    .div1 .left_side{
      position: relative;
      background: darkcyan;
      padding: 40px;
    }

    .div1 .right_side{
      position: relative;
      background: cyan;
      padding: 40px;
    }


.perfil_texto{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.perfil_texto .img{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.perfil_texto .img1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2{
  color: #fff;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}

span{
  font-size: 0.6em;
  font-weight: 200;
}

.telf{
  padding-top: 30px;
  position: relative;
 

}
.titulo {
  color: #fff;
  font-weight: 20;
  letter-spacing: 1px;
  margin-bottom: 20px;
}


ul li{
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.icones{
  display: inline-block;
  width: 30px;
  font: size 18px; 
}

span{
  color: #fff;
  font-weight: 300;
}

.educacao li{
  margin-bottom: 20px;
  
}

.educacao h5{
  color: cyan;
  font-weight: 500;
}

.educacao h4:nth-child(2){
  color: #fff;
  font-weight: 500;
}


.educacao h4{
  color: #fff;
  font-weight: 300;
}

.linguas .percent{
  position: relative;
  width: 100%;
  height: 6px;
  background: black;
  display: block;
  margin-top: 5px;
}

 .linguas .percent div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}





.parte_direita{
  position: relative;
  background: #fff;
  padding: 40px;
}

.sobre{
  margin-bottom: 50px;
}

.sobre:last-child{
  margin-bottom: 0;
}

.titulo2{
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

p{
  color: #333;
}

.linguagens .box{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}

.linguagens .box h4{

  text-transform: uppercase;
  color: #848c99;
  font-weight: 500;
}

 .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background:#848c99 ;
}

  .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}

.interesses ul{
  display: grid;
  grid-template-columns: repeat(4);
}



  